# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
.env/
.venv/
ENV/

# Test & coverage
.coverage
htmlcov/
.tox/
.cache/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# GitHub workflows artifacts
*.workflow

# Ignore local config
*.env
.env.* 